@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');

.App {
  text-align: center;
}

.main-div{
  background-color: rgb(7, 28, 58, .8);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.header-menu{
  border-bottom: 1px solid #071730;
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: rgba(26,49,89,.3);
}

.menu-img{
  margin: 1em 1em;
  display: flex;
  height: 40px;
  width: 40px;
}

.home-container{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.fire-img{
  margin: 0 auto 2em auto;
  height: 150px;
  width: 150px;
}

.fire-dash{
  color: #F9DF74;
}

.report-fire{
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
  color: #EDAE49;
  margin-bottom: 1em;
}

.camera-img{
  height: 180px;
  width: 160px;
  margin: 0 auto;
}

.fire-title{
  font-family: 'Fredericka the Great', cursive;
  font-size: 3rem;
  text-align: center;
  color: #EDAE49;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
